NODE_ENV=homolog
PORT=3000

DATABASE_URL=postgresql://postgres.<project_ref>:<supabase_password>@<pooler_host>:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require

JWT_ACCESS_SECRET=<homolog_access_secret>
JWT_REFRESH_SECRET=<homolog_refresh_secret>
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

AES_KEY=<32_characters_exactly_for_aes_256>

BLING_ENV=homolog
BLING_BASE_URL_HOMOLOG=https://www.bling.com.br/Api/v3
BLING_API_KEY_HOMOLOG=<bling_homolog_api_key>
BLING_TIMEOUT_MS=12000
BLING_RETRY_MAX=3
BLING_RETRY_BASE_MS=500
BLING_RATE_LIMIT_RPS=4

S3_ENDPOINT=<https://s3.homolog.provider.com>
S3_REGION=<sa-east-1>
S3_ACCESS_KEY_ID=<replace>
S3_SECRET_ACCESS_KEY=<replace>
S3_BUCKET=<replace>
